.fundo {
    background-color: #d9cecc;
    font-family: "Poppins";
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1000px;
    grid-gap: 20px;
    max-width: 1200px;
    padding: 10px;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
.title {
    text-align: center;
}

.page-title {
    color: #F25A47;
    font-size: 50px;
}
.page-subtitle {
    font-size: 20px;
}
.text-bio {
    color: #504c4b;
  
}
.cards {
    color: #fe8b7c;
    flex-wrap: wrap;
    text-align: center;

}
.skill-color {
    color: #fe8b7c;
}
.skill {
    text-align: center;
}
.Education-color {
    color: #fe8b7c;
}
.Education {
    text-align: center;
}
.local-education {
    color: #504c4b;
}
.Contact-color {
    color: #fe8b7c;
}
.footer {
    text-align: center;
}
hr {
    border-top: 10px dotted #135958;
    width: 250px;
    margin-top: 50px;
}

.card-img {
    width: 400px;
    height: 400px;
    padding-inline: center;
    
}
.card-body {
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.flex > div {
    flex: 1 1 200px;
}
