.fundo {
    background-color: #d9cecc;
    font-family: "Poppins";
    
}
img {
    width: 350px
}
div {
    display: inline-block;
    unicode-bidi: isolate;
}

.section.portfolio {
    column-gap: 40px;
}

